.journal {
  &__main-content{
    display: flex;
    height: 100vh;
    width: 70vw;
    
  }
  &__sidebar {
    background-color: $color-dark-grey;
    // overflow: visible;

    flex-shrink: 0;
    // z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    height: 100vh;
    &-navbar {
      display: flex;
      justify-content: space-between;
      
      & h3 {
        font-weight: lighter;
      }
    }
  }

  &__new-entry {
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    width: 100px;
    margin-top: 30px;
    transition: color .3s ease, transform 1s ease;
  
    &:hover {
      color: darken($color: $white, $amount: 10);
      transform: scale(1.1) translateY(-15px); 
      // position: absolute;
    }
  }
  &__entries {
    flex: 0 0 auto;
    margin-top: 30px;
    

    overflow-y: scroll;
    height: 500px;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover::-webkit-scrollbar{
      display: none;
    }
  }
  &__entrie {
    cursor: pointer;
    height: 80px;
    background-color: white;
    color: $color-dark-grey;
    border-radius: 4px;
    display: flex;
    // z-index: 10;
    // position: absolute;
    flex: 1 1 auto;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
    padding-right: 2px;
    margin-right: 2px;

    transition: transform .2s ease, border .4s ease; 

    &:hover {
      // background-color: rgba(48, 47, 47, 0.521);
      background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4));
       transform: translateX(10px);
      border: 2px solid $color-primary;


      // z-index: 20;

       
    
    }
    
    &-picture {
      // min-height: 100px;
      // max-height: 125px;
      // min-width: 100px;
      height: 120px;
      width: 120px;
      flex: 0 0 auto;
    }
    &-body {
      height: 100px;
      margin-left: 10px;
      overflow: hidden;
      flex: 0 1 auto;

    }
    &-title {
      font-size: 1.4rem;
      font-weight: bold;
    }
    &-content {
      font-size: 1.3rem;
    }
    &-date {

      padding-right: 2px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      & span {
        font-size: 1.4rem;
        margin-top: 10px;
      }
    }

  }


}



